PORT=5001

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=goodmates

JWT_SECRET=clave_con_la_que_se_encriptara
GOOGLE_CLIENT_ID=

# Cors del frontend
FRONTEND_URL=http://localhost:3000
